@import '../../../styles/index.scss';

.cart-sec {
    padding: 40px 0;
    background-color: var(--theme-white-background);
    font-family: "Roboto Condensed", sans-serif;

    @media(max-width: 768px) {
        padding: 20px 0;
    }

    .container {
        .heading {
            width: fit-content;
            text-align: center;
            margin: 30px 0;

            @media(max-width: 768px) {
                margin: 10px 0;
            }

            h2 {
                padding: 10px 50px 10px 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 40px;
                font-weight: 500;
                margin-bottom: 10px;
                background-color: var(--theme-primary-background);
                color: var(--theme-white-color);
                border-radius: 8px 50px 50px 8px;

                @media(max-width: 768px) {
                    font-size: 30px;
                    padding: 10px 20px 10px 10px;
                }
            }

            .icon {
                font-size: 40px;

                @media(max-width: 768px) {
                    font-size: 30px;
                }
            }
        }

        .add-carts {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .no-data-message {
                text-align: center;
                font-size: 40px;
                font-weight: 500;
                color: var(--theme-primary-color);
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .cart-items {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 30px;
                padding: 20px;
                border-radius: 8px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                @media(max-width: 768px) {
                    flex-direction: column;
                }

                .cart-img {
                    width: 500px;
                    height: 400px;

                    @media(max-width: 768px) {
                        width: 100%;
                        height: 300px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 6px;
                        object-fit: cover;
                        display: block;
                    }
                }

                h3 {
                    text-align: center;
                    margin-top: 10px;
                    font-size: 35px;
                    padding: 8px 30px;
                    border-radius: 40px;

                    @media(max-width: 768px) {
                        font-size: 25px;
                    }
                }

                h4 {
                    max-width: 500px;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 500;
                    color: var(--theme-primary-color);
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: 10px 20px;
                    border-radius: 20px;

                    @media(max-width: 768px) {
                        padding: 0;
                        font-size: 15px;
                    }
                }

                p {
                    text-align: center;
                    font-size: 18px;
                    font-weight: 600;
                    color: var(--theme-primary-pink-color);
                    margin-top: 10px;
                    margin-bottom: 10px;

                    @media(max-width: 768px) {
                        font-size: 20px;
                    }

                }

                .actions {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;

                    button {
                        padding: 8px 20px;
                        cursor: pointer;
                        border: none;
                        background-color: white;
                        color: var(--theme-primary-color);
                        outline: none;
                        font-size: 20px;
                        font-weight: 500;
                        border-radius: 5px;
                        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

                    }
                }

                .delete-btn {
                    width: fit-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    cursor: pointer;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 500;
                    color: var(--theme-white-color);
                    background-color: var(--theme-primary-pink-color);
                    margin: 30px auto 10px auto;
                    padding: 10px 30px;
                    border-radius: 20px;
                    border: none;

                    @media(max-width: 768px) {
                        margin: 20px auto 10px auto;
                    }
                }

            }
        }

        .chack-out-button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: 20px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 8px 20px;
                cursor: pointer;
                border: none;
                outline: none;
                font-size: 30px;
                font-weight: 500;
                border-radius: 5px;
                background-color: var(--theme-primary-pink-background);
                color: var(--theme-white-color);
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

                @media(max-width: 768px) {
                    font-size: 20px;
                }
            }
        }
    }
}