@import '../../../styles/index.scss';

.header-main {
    background-color: var(--theme-white-background);
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--theme-white-background);
        overflow-x: hidden;
        padding-top: 70px;
        transition: 0.5s;
        z-index: 1000;

        &.open {
            width: 100%;
        }

        .dropdown-category {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            max-height: 0;
            background-color: #f3f3f3;
            transition: max-height 0.5s ease, padding 0.3s ease;
            padding: 0 0;

            &.open {
                max-height: 200px;
                padding: 10px 0;
            }

            a {
                padding: 10px 15px 10px 40px;
                color: var(--theme-grey-color);
                font-size: 20px;

            }
        }


        .closebtn {
            position: absolute;
            top: 10px;
            right: 40px;
            font-size: 35px;
            cursor: pointer;
        }

        .menu-item {
            width: 100%;
            padding: 20px 15px;
            text-decoration: none;
            font-size: 25px;
            color: var(--theme-grey-color);
            display: block;
            transition: 0.3s;
            border: 2px solid black;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

            &.category {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    header {
        position: relative;
        width: 100%;
        display: grid;
        padding: 12px 0;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;

        @media(max-width: 768px) {
            grid-template-columns: auto 1fr;
        }

        .logo {
            width: 80px;

            @media(max-width: 768px) {
                width: 60px;
            }

            img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
                display: block;
            }
        }

        .menu {
            display: flex;
            gap: 30px;

            @media(max-width: 768px) {
                display: none;
            }

            .menu-items {
                a {
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    text-transform: capitalize;
                    color: var(--theme-grey-color);

                    &::after {
                        content: '';
                        display: block;
                        width: 0%;
                        height: 2px;
                        margin-top: 5px;
                        background-color: var(--theme-primary-pink-background);
                        transition: .3s ease-in-out;
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 0%;
                        height: 2px;
                        margin-bottom: 5px;
                        margin-left: auto;
                        background-color: var(--theme-primary-pink-background);
                        transition: .3s ease-in-out;
                    }

                    &:hover::after,
                    &:hover::before {
                        width: 100%;
                        transition: .3s ease-in-out;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            .cart-menu,
            .favcart-menu {
                position: relative;

                span {
                    font-size: 12px;
                    position: absolute;
                    top: -10px;
                    left: 13px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--theme-white-color);
                    background-color: var(--theme-primary-pink-background);
                    padding: 3px 8px;
                    border-radius: 50%;
                }
            }

            .menu-bar {
                display: none;

                @media(max-width: 768px) {
                    display: block;
                }

                .menu-icon {
                    font-size: 30px;
                    color: var(--theme-grey-color);
                }
            }

            .icon {
                font-size: 25px;
                color: var(--theme-grey-color);
            }
        }
    }
}