@import '../../../../../styles/index.scss';

.herobanner-furniture {
    padding: 20px 0;
    width: 100%;
    height: calc(100vh - 90.03px);
    background-position: center center;
    background-size: cover;
    background-image: url(../../../../../assets/images/herobanner.webp);
    position: relative;


    @media (max-width: 768px) {
        height: calc(60vh - 73.53px);
    }

    @media (max-width: 576px) {
        height: 50vh;
    }

    @media (max-width: 425px) {
        height: 40vh;
    }


    .section {
        @media(max-width: 1200px) {
            display: none;
        }


        .cart {
            margin-left: 50px;
            position: absolute;
            width: 200px;
            background-color: var(--theme-white-background);
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;

            img {
                width: 100%;
                max-height: 150px;
                object-fit: contain;
                margin-bottom: 10px;
            }

            h5 {
                padding: 8px;
                font-weight: 600;
                border-radius: 8px;
                color: var(--theme-primary-background);
                font-size: 18px;
                margin-bottom: 10px;
            }

            p {
                margin: 0 auto 10px auto;
                width: fit-content;
                background-color: var(--theme-primary-background);
                padding: 10px 14px;
                font-size: 16px;
                font-weight: 500;
                border-radius: 20px;
                color: var(--theme-white-color);
            }

            .close-icon {
                position: absolute;
                top: 5px;
                right: 5px;
                height: 25px;
                border-radius: 50%;
                color: var(--theme-primary-color);
                font-size: 30px;
                cursor: pointer;
                transition: .3s ease-in-out;
                opacity: 0.9;
                border: none;
                background-color: transparent;
                padding: 0;
            }
        }

        .pin1 {
            position: absolute;
            top: 10%;
            left: 53%;
            transform: translate(-18%, -63%);
        }

        .pin2 {
            position: absolute;
            top: 62%;
            left: 30%;
            transform: translate(-60%, -30%);
        }

        .pin3 {
            position: absolute;
            top: 20%;
            left: 30%;
            transform: translate(-20%, -30%);
        }

        .pin4 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -60%);
        }

        .pin5 {
            position: absolute;
            top: 60%;
            left: 75%;
            transform: translate(-80%, -78%);
        }

        .pin6 {
            position: absolute;
            top: 30%;
            left: 10%;
            transform: translate(-90%, -80%);
        }

        .pin {
            width: 40px;
            height: 40px;
            font-size: 13px;
            pointer-events: auto;
            color: var(--theme-white-color);

            .bg {
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: var(--theme-primary-background);
            }

            .zoom {
                position: absolute;
                top: -8px;
                right: -8px;
                bottom: -8px;
                left: -8px;
                display: block;
                backface-visibility: hidden;
                animation: 2s infinite zoompin;
                border-radius: 50%;
                perspective: 800px;
                background-color: rgba(255, 255, 255, .8);
            }
        }
    }
}

@keyframes zoompin {
    0% {
        opacity: 0;
        transform: scale(.2);
    }

    50% {
        opacity: .8;
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}