@import '../../../../../styles/index.scss';

.wooden-cabbinet {
    .cart {
        margin: 8px 0;
        padding: 32px;
        background-color: var(--theme-white-background);


        @media(max-width: 576px) {
            padding: 10px;
        }

        .container {
            .heading {
                padding: 10px 40px;
                margin: 20px auto;
                padding-bottom: 10px;
                width: fit-content;
                background-color: var(--theme-primary-pink-background);
                border-radius: 20px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;


                @media(max-width: 576px) {
                    padding: 10px 20px;

                }

                h2 {
                    color: var(--theme-white-color);
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-size: 40px;

                    @media(max-width: 576px) {
                        font-size: 30px;
                    }
                }
            }

            section {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 30px;


                @media(max-width: 1440px) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @media(max-width: 1200px) {
                    grid-template-columns: repeat(2, 1fr);
                }


                @media(max-width: 768px) {
                    grid-template-columns: 1fr;
                }

                .item {
                    padding: 20px;
                    border-radius: 20px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

                    .item-image {
                        width: 100%;
                        height: 200px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                        }
                    }

                    h3 {
                        text-align: center;
                        margin-top: 10px;
                        font-size: 25px;


                        @media(max-width: 1440px) {
                            font-size: 18px;
                        }
                    }

                    .item-bottom {
                        margin-top: 20px;

                        p {
                            width: fit-content;
                            margin: 0 auto;
                            font-size: 18px;
                            font-weight: 600;
                            padding: 4px 20px;
                            border-radius: 20px;
                            background-color: var(--theme-primary-background);
                            color: var(--theme-white-color);
                            border: 2px solid transparent;


                            @media(max-width: 1024px) {
                                font-size: 16px;
                            }
                        }





                        .icons {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            gap: 20px;

                            .icon {
                                cursor: pointer;
                                font-size: 25px;
                                color: var(--theme-primary-color);





                                &.fill {
                                    color: var(--theme-primary-pink-color);
                                    fill: var(--theme-primary-pink-background);
                                    transition: .5s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}