@import '../../../../../styles/index.scss';

.featured {
    text-align: center;
    padding: 40px 0;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;

        .headeing {
            h2 {
                text-transform: capitalize;
                font-size: 35px;
                color: var(--theme-primary-color);

                @media(max-width: 576px) {
                    font-size: 30px;
                    font-weight: 400;
                }
            }

            span {
                font-size: 14.5px;
                font-weight: 400;
                color: var(--theme-light-grey-color);
                letter-spacing: .5px;

                @media(max-width: 576px) {
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }

        .grid {
            display: grid;
            grid-template-columns: 50% auto auto;
            gap: 20px;
            margin-top: 30px;


            @media(max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }


            @media(max-width: 768px) {
                grid-template-columns: 1fr;
            }

            .cat1,
            .cat2,
            .cat3,
            .cat4,
            .cat5,
            .cat6 {
                &:hover {
                    img {
                        transform: scale(1.1);
                        transition: .5s ease-in-out;
                    }
                }
            }

            .grid-item {
                cursor: pointer;
                background-color: var(--theme-white-background);
                padding: 20px;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;


                .category-img {
                    width: 100%;
                    height: 420px;
                    border-radius: 10px;
                    overflow: hidden;


                    @media(max-width: 1024px) {
                        height: 300px;
                    }


                    @media(max-width: 768px) {
                        height: 250px;
                    }


                    @media(max-width: 576px) {
                        height: auto;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                        transition: .5s ease-in-out;
                    }
                }

                h3 {
                    text-transform: capitalize;
                    font-size: 28px;
                    color: var(--theme-primary-color);
                    font-weight: 500;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}