@import '../../../../../../styles/index.scss';

.face {
    padding: 32px;

    .wishlist-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 99;

        .icon {
            cursor: pointer;
            font-size: 25px;
            color: var(--theme-grey-color);
        }


        .heart-icon {
            fill: var(--theme-white-background);

            path {
                transition: .3s ease-in-out;
            }

            &:hover {
                color: var(--theme-light-pink-color);
                transition: .3s ease-in-out;
            }

            &.favorite {
                color: var(--theme-pink-color);
                fill: var(--theme-pink-background);
                transition: .5s ease-in-out;
            }
        }
    }

    .container {

        section {

            .heading {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 20px;
                width: 100%;

                img {
                    width: 55px;
                    height: 55px;
                    object-fit: cover;
                    display: block;
                    border-radius: 50px;
                }

                h2 {
                    margin-left: 10px;
                    font-size: 30px;
                    color: var(--theme-primary-color);
                    text-transform: capitalize;
                    font-weight: 600;
                    text-align: center;
                }
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 30px;


                @media (max-width: 1440px) {
                    grid-template-columns: repeat(4, 1fr);
                }

                @media (max-width: 1200px) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @media (max-width: 900px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media (max-width: 600px) {
                    grid-template-columns: repeat(1, 1fr);
                }

                .grid-item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    cursor: pointer;
                    background-color: var(--theme-white-background);
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

                    .category-img {
                        width: 100%;
                        height: 320px;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                            transition: .5s ease-in-out;

                        }
                    }

                    .bottam {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        padding: 20px;
                    }

                    h3 {
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        margin-top: 10px;
                        font-size: 20px;
                        color: var(--theme-black-color);
                        font-weight: 600;
                        text-transform: capitalize;
                    }

                    p {
                        font-size: 15px;
                        color: var(--theme-pink-color);
                        font-weight: 400;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }

                    &:hover {
                        .category-img {
                            img {
                                transform: scale(1.1);
                                transition: .5s ease-in-out;
                            }
                        }
                    }

                    .add-cart-btn {
                        width: 100%;

                        button {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                            background-color: var(--theme-primary-color);
                            color: var(--theme-white-color);
                            padding: 10px 20px;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            font-size: 18px;
                            font-weight: 600;
                            text-transform: capitalize;
                            transition: .3s ease-in-out;

                            &:hover {
                                background-color: #ec1c80;
                            }

                            .icon {
                                margin-bottom: 3px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}