@import '../../../styles/index.scss';

.user {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
        padding: 0 14px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100px;
            height: auto;
            object-fit: cover;
            display: block;

            @media (max-width: 768px) {
                width: 80px;
            }

        }
    }

    .form {
        width: 100%;
        max-width: 600px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .form-user {
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            background-color: var(--theme-white-background);
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;


            .heading {
                h2 {
                    text-align: center;
                    color: var(--theme-primary-color);
                    font-size: 35px;
                    font-weight: 800;

                    @media (max-width: 768px) {
                        font-size: 30px;
                    }

                }
            }

            .form-item {
                margin: 20px;

                @media (max-width: 768px) {
                    margin: 10px;
                }

                label {
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--theme-primary-color);

                    @media (max-width: 768px) {
                        font-size: 16px;
                    }
                }

                input {
                    margin-top: 10px;
                    width: 100%;
                    padding: 8px 5px;
                    border: none;
                    outline: none;
                    border-radius: 6px;
                    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
                    color: var(--theme-primary-color);
                    font-size: 18px;

                    @media (max-width: 768px) {
                        font-size: 16px;
                        margin-top: 8px;
                    }
                }
            }

            .form-button {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                @media (max-width: 768px) {
                    margin-top: 10px;
                }

                button {
                    padding: 8px 30px;
                    cursor: pointer;
                    border: 1px solid var(--theme-primary-border);
                    background-color: var(--theme-primary-background);
                    color: var(--theme-white-color);
                    outline: none;
                    font-size: 20px;
                    font-weight: 500;
                    border-radius: 5px;

                    @media (max-width: 768px) {
                        font-size: 16px;
                        padding: 8px 20px;
                    }
                }
            }

            .forgot {
                margin-top: 12px;

                a {
                    color: var(--theme-primary-color);
                    font-size: 18px;
                    font-weight: 500;
                    display: block;
                    text-align: end;

                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                }
            }

            .change-form {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                font-size: 16px;

                a {
                    color: var(--theme-primary-color);
                    font-size: 16px;

                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}