.herobanner-cosmetics {
    width: 100%;
    height: calc(100vh - 90.03px);
    background-position: center center;
    background-size: cover;
    background-image: url(../../../../../assets/images/herobanner-cosmetics.webp);
    position: relative;
    font-family: "Roboto Condensed", sans-serif;


    @media (max-width: 1200px) {
        height: calc(100vh - 73.53px);
        background-position: top right;
    }

    @media (max-width: 576px) {
        background-position: center left;
    }

    .container {
        width: 100%;
        height: 100%;
    }


    section {
        padding: 0 40px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;


        @media(max-width: 576px) {
            padding: 0 20px;
            backdrop-filter: blur(5px);
            background-color: rgba(0, 0, 0, 0.8);
        }


        h4 {
            color: var(--theme-pink-color);
            font-size: 50px;
            font-weight: 100;
            text-align: right;


            @media(max-width: 1200px) {
                font-size: 40px;
                font-weight: 200;
            }

            @media(max-width: 576px) {
                font-weight: 100;
                font-size: 60px;
                color: var(--theme-white-color);
            }
        }

        .heading {

            h3 {
                color: var(--theme-pink-color);
                font-size: 55px;
                font-weight: 900;
                text-transform: capitalize;
                letter-spacing: 1px;
                text-align: right;


                @media(max-width: 1200px) {
                    font-size: 50px;
                }

                @media(max-width: 576px) {
                    font-size: 70px;
                    color: var(--theme-white-color);
                }
            }
        }

        .details {

            p {
                border-radius: 6px;
                padding: 5px 10px;
                background-color: var(--theme-pink-background);
                color: var(--theme-white-color);
                font-size: 20px;
                font-weight: 400;
                text-align: center;
                line-height: 30px;


                @media(max-width: 1200px) {
                    line-height: 25px;
                    padding: 3px 5px;
                    font-size: 16px;
                }

                @media(max-width: 576px) {
                    display: none;
                }
            }

            .explore-button {
                display: none;
                margin-top: 20px;


                @media(max-width: 576px) {
                    display: block;
                }

                .explore-btn {
                    padding: 15px 50px;
                    cursor: pointer;
                    border: transparent;
                    background-color: var(--theme-pink-background);
                    color: var(--theme-white-color);
                    outline: none;
                    font-size: 20px;
                    font-weight: 500;
                    transition: background-color 0.3s, border-color 0.3s;

                    &:hover {
                        background-color: var(--theme-primary-background);
                        color: var(--theme-light-pink-color);
                    }
                }
            }
        }
    }
}