:root {
    --theme-primary-background: #000000;
    --theme-primary-color: #000000;
    --theme-primary-border: #000000;
    --theme-yellow-border: #EEBD51;
    --theme-yellow-background: #EEBD51;
    --theme-yellow-color: #EEBD51;
    --theme-dark-yellow-color: #FFD700;
    --theme-grey-border: #484848;
    --theme-grey-background: #484848;
    --theme-grey-color: #484848;
    --theme-light-grey-color: #878787;
    --theme-light-pink-border: #FFC0CB;
    --theme-light-pink-background: #FFC0CB;
    --theme-light-pink-color: #FFC0CB;
    --theme-pink-color: #FF288F;
    --theme-pink-background: #FF288F;
    --theme-pink-color: #FF288F;
    --theme-pink-background: #FF288F;
    --theme-white-color: #ffffff;
    --theme-white-background: #ffffff;
    --theme-white-border: #ffffff;
    --theme-primary-pink-color: #e9417c;
    --theme-primary-pink-background: rgb(233, 65, 124);
    --theme-primary-pink-border: #e9417c;

}